*
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}
/* Main Page Definitions */
:root
{
    --Background-Colour: #eab2b2;
    --Border-Colour-1: #ea9191;
    --Border-Colour-2: #be6b6b;
    --Text-Background-Colour: #e8a7a7;
}
/* Nav Bar CSS */
nav
{
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: var(--Border-Colour-1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4vh;
}
#Titel
{
    text-decoration: none;
    font-size: 200%;
    color: black;
    font-family: 'Bungee', cursive;   
}
#TCRLogo-div
{
    align-self: flex-start;
}
#Titel-div
{
    background-color: var(--Border-Colour-1);
    height: 12vh;
    margin-bottom: -12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#TCRLogo
{
    background-color: white;
    height: 6vh;
    padding: 1.5vh;
    border: dashed var(--Border-Colour-2) .75vh;
    border-radius: 2vh;
    margin: 0.75vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
#MenuSubtitel-div
{
    width: 100%;
    height: 6vh;
    border-top: solid var(--Border-Colour-2) .75vh;
    background-color: var(--Border-Colour-1);
    display: flex;
}
#Subtitle-div
{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Menu-div
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--Border-Colour-2);
    width: 55vw;
}
.Menu-href
{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;    
    font-weight: 600;
    color: black;

}
#Menu-spacer
{
    width: 0.035vw;
    height: 6vh;
    background-color: var(--Border-Colour-2);
}
.Menu-content
{
    width: 7.6vw;
    height: 6vh;
    background-color: var(--Border-Colour-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu-content:hover
{
    background-color: var(--Text-Background-Colour);
}
/* Body CSS */
body
{
    padding-top: 22vh;
    font-family: 'Raleway', sans-serif;
    background-color: var(--Background-Colour);
}
#dashboard-h2{
    margin-top: 2vh;
    margin-left: 19vw;
    padding: .1vw 4vw .1vw 2vw;
    width: 8vw;
    border: dashed var(--Border-Colour-1) 5px;
    background-color: var(--Text-Background-Colour);
    border-radius: 2vh;
}
#dashboard-img{
    width: 30vw;
    border: dashed var(--Border-Colour-1) 5px;
    border-radius: 2vh;
    padding: 1vw;
    margin-bottom: 10vh;
}
#dashboard-tekst{
    width: 55vw;
    display: flex;
    padding-top: 5vh;
    justify-content: flex-start;
}
#dash-div{
    background-color: var(--Text-Background-Colour);
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2%;
    border: dashed var(--Border-Colour-1) 5px;
    border-radius: 2vh;
    height: 50vh;
}
#cursus-h2{
    margin-top: 2vh;
    margin-left: 19vw;
    padding: .1vw 3vw .1vw 2vw;
    width: 8vw;
    border: dashed var(--Border-Colour-1) 5px;
    background-color: var(--Text-Background-Colour);
    border-radius: 2vh;
}
#cursus-tekst{
    width: 55vw;
    display: flex;
    justify-content: flex-start;
}
#cursus-div{
    background-color: var(--Text-Background-Colour);
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2%;
    border: dashed var(--Border-Colour-1) 5px;
    border-radius: 2vh;
}
#kalender-h2{
    margin-top: 2vh;
    margin-left: 19vw;
    padding: .1vw 3vw .1vw 2vw;
    width: 7vw;
    border: dashed var(--Border-Colour-1) 5px;
    background-color: var(--Text-Background-Colour);
    border-radius: 2vh;
}
#kalender-img{
    border: dashed var(--Border-Colour-1) 5px;
    border-radius: 2vh;
    padding: 1vw;
    margin-bottom: 10vh;
    width: 50vw;
}
#kalender-tekst{
    width: 55vw;
    display: flex;
    padding-top: 5vh;
    justify-content: flex-start;
}
#kalender-div{
    background-color: var(--Text-Background-Colour);
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2%;
    border: dashed var(--Border-Colour-1) 5px;
    border-radius: 2vh;
}
#foto-inf{
    display: flex;
    padding-top: 5vh;
    padding-right: 10vw;
    align-items: flex-end;
}


#inbox-h2{
    margin-top: 2vh;
    margin-left: 19vw;
    padding: .1vw 2vw .1vw 2vw;
    width: 7vw;
    border: dashed var(--Border-Colour-1) 5px;
    background-color: var(--Text-Background-Colour);
    border-radius: 2vh;
}
#inbox-tekst{
    width: 55vw;
    display: flex;
    justify-content: flex-start;
}
#inbox-div{
    background-color: var(--Text-Background-Colour);
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2%;
    border: dashed var(--Border-Colour-1) 5px;
    border-radius: 2vh;
}
.canvas-spacer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93vw;
    height: 8vh;
    background-color: var(--Border-Colour-1);
    border-radius: 2vh;
    margin: 6vh;
}