*
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/* Main Page Definitions */
:root
{
    --Background-Colour: #eab2b2;
    --Border-Colour-1: #ea9191;
    --Border-Colour-2: #be6b6b;
    --Text-Background-Colour: #e8a7a7;
}
/* Nav Bar CSS */
nav
{
    width: 100vw;
    background-color: var(--Border-Colour-1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4vh;
    position: fixed;
    top: 0px;
}
#Titel
{
    text-decoration: none;
    font-size: 200%;
    color: black;
    font-family: 'Bungee', cursive;   
}
#TCRLogo-div
{
    align-self: flex-start;
}
#Titel-div
{
    background-color: var(--Border-Colour-1);
    height: 12vh;
    margin-bottom: -12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#TCRLogo
{
    background-color: white;
    height: 6vh;
    padding: 1.5vh;
    border: dashed var(--Border-Colour-2) .75vh;
    border-radius: 2vh;
    margin: 0.75vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
#MenuSubtitel-div
{
    width: 100%;
    height: 6vh;
    border-top: solid var(--Border-Colour-2) .75vh;
    background-color: var(--Border-Colour-1);
    display: flex;
}
#Subtitle-div
{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Menu-div
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--Border-Colour-2);
    width: 55vw;
}
.Menu-href
{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;    
    font-weight: 600;
    color: black;

}
#Menu-spacer
{
    width: 0.035vw;
    height: 6vh;
    background-color: var(--Border-Colour-2);
}
.Menu-content
{
    width: 7.6vw;
    height: 6vh;
    background-color: var(--Border-Colour-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu-content:hover
{
    background-color: var(--Text-Background-Colour);
}
/* Body CSS */

body
{
    padding-top: 22vh;
    font-family: 'Raleway', sans-serif;
    background-color: var(--Background-Colour);
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.BSA-section
{
    background-color: var(--Text-Background-Colour);
    padding: 6vh;
    width: 50vw;
    height: 30vh;
    border-radius: 2vh;
    border: dashed var(--Border-Colour-1) 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.BSA-text-div
{
    height: 100%;
}
#TCR-BSA-link
{
    color: black;
}
#LastSection
{
    margin-bottom: 6vh;
}